body{
  margin: 0;
  font-family: "Geist", sans-serif;
  height: 100%;
  overflow-x: hidden;
}

.startWindow{
  display: flex;
  background-color: rgb(24, 24, 24);
  height: 100dvh;
}

header{
  max-height: 4em;
  width: 100%;
  background-color: #01BAEF;
  z-index: 1;
}

header nav{
  margin: auto;
  width: 70%;
}

header ul{
  display: flex;
  flex-grow: 1;
  justify-content: space-around;  
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header a{
  padding: 1em 2em;
  height: 100%;
  display: inline-block;
  white-space: nowrap;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
}

header a:hover{
  background-color: #0aaad6;
}

.headerImg a{
  padding: 0;
}

.headerImg a:hover{
  background-color: #01BAEF;
}

.headerImg img{
  display: block;
  box-sizing: border-box;
  max-height: 50px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 2px black;
}

.startContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - max(10vw, 25px)), 0 100%);
  background-color: #01BAEF;
  color: white;
}

.startContent h1, .startContent h6{
  margin: 0 5vw;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.startContent h1{
  font-size: clamp(2rem, 10vw + 0.1rem, 5rem);
}

.startContent h6{
  font-size: clamp(0.5rem, 2vw + 0.1rem, 1rem);
}

.main{
  background-color: rgb(24, 24, 24);
}

.previewContainer{
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.previewContainer h2{
  margin-bottom: 4vh;
  color: white;
  animation: ease-out fade-in both;
  animation-timeline: view();
  animation-range: 0 40%;
}



.glowingBorder{
  width: min(1200px, 80%);
  position: relative;
  margin-bottom: 7vh;
}

.glowingBorder::before, .glowingBorder::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 100%;
  width: 100%;
  padding: 6px;
  border-radius: 2rem;
  background-image: conic-gradient(#ffacac, #ffae78, #fff199, #bfff97, #a3eeff, #ffacac);
}

.glowingBorder::before{
  filter: blur(0.5rem);
}

.previewBox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: min(2rem, 5%);
  color: white;
  background-color: rgb(36, 36, 36);
  border-radius: 2rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
  font-size: min(140%, 4vw);
}

.previewBox img{
  max-width: 80%;
  height: auto;
}

.fadefromright{
  animation: ease-out fadefromright both;
  animation-timeline: view();
  animation-range: 0 40%;
}

.fadefromleft{
  animation: ease-out fadefromleft both;
  animation-timeline: view();
  animation-range: 0 40%;
}

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: min(4em, 2%);
  color: white;
  background-color: rgb(36, 36, 36);
}

footer a{
  text-decoration: none;
  color: white;
}

footer a:hover{
  color: blueviolet;  
}

footer img{
  border-radius: 50%;
}

@keyframes fadefromleft {
  from{
    opacity: 0;
    transform: translateX(-100vw);
  }to{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadefromright {
  from{
    opacity: 0;
    transform: translateX(100vw);
  }to{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}

@media (max-width: 800px){
  header{
    display: none;
  }

  footer{
    flex-direction: column;
  }
  footer div{
    margin-bottom: 2vh;
  }

  footer img{
    display: none;
  }
}